{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="product" id="product">

<h1 class="heading">How To Use Plants In Interior Design </h1>

<div class="box-container">

    <div class="box">

        <img src="{% static 'images/product11.jpeg' %}" >
        <h3>Plan Your Central Design Around Plants</h3>
        <div style="font-size:20px;color:grey;">Plants add life and color to a space, while also bringing you closer to nature. Instead of adding plants into your interior design as an afterthought.</div>

    </div>

    <div class="box">

        <img src="{% static 'images/product12.jpeg' %}" alt="">
        <h3>Add Sheet Moss Or Sand To Pots</h3>
        <div style="font-size:20px;color:grey;">There are a few different materials you can spread over the soil to create a unique look. If you have a small planter filled with African violets, add a cover of moss to the top.</div>

    </div>

    <div class="box">

        <img src="{% static 'images/product10.jpeg' %}" alt="">
        <h3>Give Plants Enough Room To Grow</h3>
        <div style="font-size:20px;color:grey;">Indoor plants are generally slower growing plants, although if you select a variety that tends to grow faster you will want to ensure the plant has enough space to grow.</div>

    </div>

    <div class="box">

        <img src="{% static 'images/product7.jpeg' %}" alt="">
        <h3>Plant Care Guide</h3>
        <div style="font-size:20px;color:grey;">Plants tend to be an afterthought in interior design. And the more bad experiences you have with plants the more likely you are to push them to the back burner or forget about them altogether. However, we know that plants make us happier, helps us recharge and even be more productive.</div>

    </div>

    <div class="box">

        <img src="{% static 'images/product8.jpeg' %}" alt="">
        <h3>Plants In The Interior</h3>
        <div style="font-size:20px;color:grey;">When you are faced with a large wall to fill, it’s important to fill it out with furniture that is proportionate to the scale of the wall so that whatever pieces you have sitting on or in front of the wall won’t be dwarfed by the wall.</div>

    </div>

    <div class="box">

        <img src="{% static 'images/product9.jpeg' %}" alt="">
        <h3>Inspect Plants Regularly</h3>
        <div style="font-size:20px;color:grey;">Regularly inspect your plants for signs of pests or diseases, such as yellowing leaves, wilting, or unusual spots. Treat any issues promptly using organic insecticidal soap or horticultural oil to prevent them from spreading to other plants.</div>

    </div>

</div>

</section>
{% endblock %}