{% extends 'base.html' %}
{% load static %}
{% block content %}
   <section class="category" id="category">

<h1 class="heading">Deal of the Day</h1>

<div class="box-container">

    {% for i in deals %}
    <div class="box">
        <img src="{{i.image.url}}" alt="">
        <div class="content">
            <h3>{{i.title}}</h3>
            <h3>{{i.price}}</h3>
            <a href="{% url 'dcart' i.title %}?deal=true" class="btn">Add To Cart</a>
        </div>
    </div>
    {% endfor %}

</div>

</section>



{% endblock %}