<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/styleg.css' %}">
    </head>
<body>
<br>
<br>
<br>
<h1 class="m-5" style='color:green;text-align:center;font-size:30px;'>Thank you for contacting us.We will get back to you soon.</h1>
<br>
<br>
<a href="{% url 'home' %}" class="btn " style="position:relative;left:550px;">Back to home</a>
</body>
</html>

